@page "/fetchdata"
@inject HttpClient Http

<PageTitle>FLAG</PageTitle>

<h1>Flag Display</h1>

<button class="btn btn-primary" @onclick="FetchFlag">Fetch FLAG.txt</button>

@if (_flag != null)
{
    <p>@_flag</p>
}

@code {
    private string _flag;

    protected override async Task OnInitializedAsync()
    {
    }

    public async Task FetchFlag()
    {
        var response = await Http.GetAsync("FLAG.txt");
        await response.Content.ReadAsStringAsync();
        _flag = await response.Content.ReadAsStringAsync();
    }
}
