@page "/"

<PageTitle>Index</PageTitle>


<div>
    <h2>インストール方法(chrome)</h2>
    <ol>
        <li>
            <p>ウィンドウの右上にあるボタンをクリックします。</p>
            <img src="./img/install.png" />
        </li>
        <li>
            <p>インストールをクリックします。</p>
            <img src="./img/install2.png" />
        </li>
    </ol>
    <h2>アンインストール方法(chrome)</h2>
        <ol>
            <li>
                <p>ウィンドウの右上にあるボタンをクリックします。</p>
                <img src="./img/install3.png" />
            </li>
        </ol>
</div>